<div class="layout">
  <div [ngClass]="classSidenav">
    <!-- <input
      type="checkbox"
      name="trigger"
      [checked]="triggered"
      (change)="toggle()"
    /> -->
    <button
      mat-icon-button
      class="menu"
      aria-label="Example icon button with a menu icon"
      (click)="toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    @if(triggered){
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    }@else {
    <ul>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>
      </li>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>
      </li>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>
      </li>
    </ul>
    }
  </div>

  <div class="main-page">
    <router-outlet />
  </div>
</div>
