.layout {
  width: 100%;
  height: calc(100vh - 75px);
  background-color: green;
  display: flex;
  transition: all 0.5s ease-in-out;

  .sidenav {
    height: 100%;
    background-color: red;
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    ul {
      li {
        margin: 10px;
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          &:visited {
            color: rgb(41, 41, 41);
          }
          &:hover {
            color: rgb(92, 91, 91);
          }
        }
      }
    }
  }

  .on {
    width: 200px;
    transition: all 0.5s ease-out;
  }
  .off {
    transition: all 0.5s ease-out;
  }
  .menu {
    color: green;
    background-color: transparent;
    border: none;
  }
  .main-page {
    overflow: auto;
  }
}
